<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="applicationName" source="spring.application.name" />

    <contextName>${applicationName}</contextName>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="com/churchmutual/core/logging/logback/defaults.xml"/>
    <include resource="com/churchmutual/core/logging/logback/file-appender.xml" />

    <root level="ERROR">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.churchmutual" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>